* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  touch-action: manipulation;
  display: flex;
  /* overflow: hidden; */
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.view-controls {
  text-align: left;
  /* position: fixed;
  bottom: 0; */
  flex-shrink: 0;
}

/* TODO: this doesn't size properly on mobile OR PC but it's so close */
.grid-container {
  min-height: auto;
  height: auto;
  /* height: auto; */
  /* overflow: hidden; */
  overflow: auto;
  flex: 1;
}

html, body, .App, #root {
  height: 100%
}